<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página cadastro Chain</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/fontawesome/css/brands.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/components/header.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div class="top-wrapper">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" alt="Bootstrap" height="60px">
                </a>
                <a class="navbar-brand" href="#">Chain</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <section class="backgroundCadastro">
            <img src="/images/dia.jfif" alt="imagem background">
        </section>
        <section class="cadastroTela">
            <div class="tela">
                <div class="flex">
                    <div class="transparencia">
                        <form class="cadastroConteudo">
                            <div class="imgcontainer">
                                <img src="/images/flavio.jfif" alt="nosso estagiario do 190 flavio" title="foto do estagiario 190 flavio" class="avatar">
                            </div>
                            <div class="containerCadastro">
                                <ul>
                                    <li>
                                        <label for="username"><b>Nome de usuário</b></label>
                                        <input class="textinput" type="text" id="username" name="username" placeholder="Digite seu nome de usuário" required>
                                    </li>
                                    <li>
                                        <label for="password"><b>Senha</b></label>
                                        <input class="textinput" type="password" id="password" name="password" placeholder="Digite sua Senha" required>
                                    </li>
                                    <li>
                                        <label for="passwordConfirmacao"><b>Senha de confirmação</b></label>
                                        <input class="textinput" type="password" id="passwordConfirmacao" name="passwordConfirmacao" placeholder="Digite sua Senha" required>
                                    </li>
                                    <li>
                                        <label for="email"><b>Email</b></label>
                                        <input class="textinput" type="email" id="email" name="email" placeholder="Digite seu email" required>
                                    </li>
                                    <li>
                                        <button id = "buttonRegistrar" type="button">Cadastre-se</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container acb">
          <div class="links">
            <h3>Links Úteis</h3>
            <ul>
              <li><a href="/">Início</a></li>
              <li><a href="#sobre">Sobre nós</a></li>
            </ul>
          </div>
          <div class="contato">
            <h3>Contato</h3>
            <p><strong>Email:</strong> <a href="mailto:educalivrosbiblioteca@gmail.com">joao.00000845222@unicap.br</a>
            </p>
            <!--Protocolo Mailto-->
            <p><strong>Telefone:</strong> (81) 99684-5391</p>
          </div>
          <div class="social">
            <h3>Siga-nos</h3>
            <ul>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
          </div>
        </div>
    </footer>

    <script>
        const nome = document.getElementById('username');
        const passwd = document.getElementById('password');
        const passwd2 = document.getElementById('passwordConfirmacao');
        const email = document.getElementById('email');
        const bt_cadastro = document.getElementById('buttonRegistrar');

        function cadastrar(){
            const user = {
                nome: nome.value,
                email: email.value,
                senha: passwd.value
            };

            fetch('/users/create', {
                method: 'POST',
                headers: {
                    'Content-Type' : 'application/json',
                },
                body: JSON.stringify(user),
            })
            .then(response => {
                if(!response.ok){
                    alert('Error ao tentar criar o usuário');
                    throw new Error('Error criar usuário');
                }
                return response.json();
            })
            .then(data => {
                console.log('Novo usuario inserido');
                window.location.href = '/login';
            })
            .catch(error => {
                console.error("Error fetching user:", error);
            });
        }

        bt_cadastro.onclick = cadastrar;
    </script>
</body>
</html>
