<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Login Chain</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="../static/fontawesome/css/solid.css">
    <link rel="stylesheet" href="../static/fontawesome/css/brands.css">
    <link rel="stylesheet" href="../static/css/components/footer.css">
    <link rel="stylesheet" href="../static/css/components/header.css">
    <script src="../static/js/login.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    <div class="top-wrapper">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../../static/images/logo.png" alt="Bootstrap" height="60px">
                </a>
                <a class="navbar-brand" href="#">Chain</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./login.html">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <main>
        <div class="backgroundLogin">
            <img src="../static/images/noite.jfif" alt="imagem background">
        </div>
        <section class="loginTela">
            <div class="tela">
                <div class="flex">
                    <div class="transparencia">
                        <form class="loginConteudo" id ="loginConteudo" action="./profile.html">
                            <div class="imgcontainer">
                                <img src="../static/images/pepeu.jfif" alt="Pepeu nosso programador estagiário"
                                    title="foto do estagiário Pepeu" class="avatar">
                            </div>
                            <div class="containerLogin">
                                <ul>
                                    <li>

                                        <label for="username"><b>Nome de usuário</b></label>
                                        <input class="textinput" type="text" id="username" name="username" placeholder="Digite seu nome de usuário" required>

                                    </li>
                                    <li>
                                        <label for="password"><b>Senha</b></label>
                                        <input class="textinput" type="password" id="password" name="password"
                                            placeholder="Digite sua Senha" required>
                                    </li>
                                    <li>
                                        <button type="submit">Entrar</button>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" checked="checked" name="remember"> me lembrar da
                                            senha
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="containerLogin">
                                <div class="colormude">
                                    <span class="psw">Esqueceu sua Senha ? <a id="RecuperarConta">Recuperar</a></span>
                                    <span class="cadastrar">Não tem uma conta? <a  id="cadastrarConta" >Cadastre-se</a></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container acb">
          <div class="links">
            <h3>Links Úteis</h3>
            <ul>
              <li><a href="./index.html">Início</a></li>
              <li><a href="#sobre">Sobre nós</a></li>
            </ul>
          </div>
          <div class="contato">
            <h3>Contato</h3>
            <p><strong>Email:</strong> <a href="mailto:educalivrosbiblioteca@gmail.com">joao.00000845222@unicap.br</a>
            </p>
            <!--Protocolo Mailto-->
            <p><strong>Telefone:</strong> (81) 99684-5391</p>
          </div>
          <div class="social">
            <h3>Siga-nos</h3>
            <ul>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
          </div>
        </div>
    </footer>
</body>

</html>

