<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="stylesheet" href="/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/fontawesome/css/brands.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <title>Perfil</title>
</head>

<body>
    <div class="main-wrapper">
        <div class="sidebar">
            <div class="info">
                <img src="/images/logo.png" alt="Perfil">
                <h1 id="user_nome">Nome do sujeito</h1>
                <h1 id="user_email">Email do sujeito</h1>
            </div>
            <div class="calendario">
                <div class="top">
                    <h1>Calendário</h1>
                </div>
                <div class="dates">
                    
                </div>
            </div>
        </div>
        <div class="main-content">
          
            <div class="top-bar">
                <h1>Projetos</h1>
                <div class="createProject">
                    <input id="addProjectInput">
                    <button class="button-5" id="addCreationButton">+</button>
                </div>
            </div>
            <div id="projects">
              <div class="main-background">
                <div class="waveWrapper waveAnimation">
                  <div class=" bgTop">
                    <div class="wave waveTop">
                    </div>
                  </div>
                  <div class=" bgMiddle">
                    <div class="wave waveMiddle">
                    </div>
                  </div>
                  <div class=" bgBottom">
                    <div class="wave waveBottom">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer>
                <div class="container acb">
                  <div class="links">
                    <h3>Links Úteis</h3>
                    <ul>
                      <li><a href="/">Início</a></li>
                      <li><a href="#sobre">Sobre nós</a></li>
                    </ul>
                  </div>
                  <div class="contato">
                    <h3>Contato</h3>
                    <p><strong>Email:</strong> <a href="mailto:educalivrosbiblioteca@gmail.com">joao.00000845222@unicap.br</a>
                    </p>
                    <!--Protocolo Mailto-->
                    <p><strong>Telefone:</strong> (81) 99684-5391</p>
                  </div>
                  <div class="social">
                    <h3>Siga-nos</h3>
                    <ul>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                    </ul>
                  </div>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/js/profile.js"></script>
</html>