<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/fontawesome/css/brands.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>


<body>
    <div class="main-wrapper">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-link"></i></span>
                        <span class="title">Chain</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="profile">
                        <span class="icon"><i class="fa-solid fa-address-card"></i></i></span>
                        <span class="title">Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-list"></i></i></span>
                        <span class="title">Membros</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="addMember" class="context-menu-trigger">
                        <span class="icon"><i class="fa-solid fa-user-plus"></i></span>
                        <span id="addMemberButton">Adicionar membro</span>
                    </a>
                </li>  
            </ul>
            <div class="toggle">

            </div>
        </div>
        <div class="main-content">
            <div id="root">
                <div class="filtro" id="filtro">
                    <h4>Filtre suas atividades:</h2>
                    <form>
                        <input type="radio" id="minhasAtividades" name="filtroAtividade" value="Minhas">
                        <label for="minhasAtividades">Minhas</label><br>
                        <input type="radio" id="todasAtividades" name="filtroAtividade" value="Todas">
                        <label for="todasAtividades">Todas</label><br>
                    </form>   
                </div>
                <div id="blocks">
                    <div class="links">
                        <h1>Adicione links abaixo:</h1>
                        <div class="addLink">
                            <input id="createLinkName" placeholder="Nome do link">
                            <input id="createLinkInput" placeholder="Endereço do link">
                            <input id="createLinkDescription" placeholder="Descrição do link">
                            <button class="button-5" id="createLinkButton">+</button>
                        </div>
                        <div class="linkContainer" id="linkPlace">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let navigation = document.querySelector(".navigation");
        let toggle = document.querySelector(".toggle");
        toggle.onclick = function(){
            navigation.classList.toggle('active');
        }
    </script>
</body>    

<script src="/js/projects.js"></script>

</html>