body {
    background-color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
}

section.backgroundCadastro , section.cadastroTela {
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
}
.backgroundCadastro img{
    max-width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
}
.tela {
    max-width: 1280px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .cadastroTela {
    position: relative;
}

.cadastroTela .transparencia {
    width: 600px;
    height: auto;
    text-align: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(2,0,36,1) 2%, rgba(191,138,255,1) 35%, rgba(180,130,242,1) 61%, rgba(107,8,128,1) 86%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-bottom-right-radius: 10px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}



.imgcontainerCadastro {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.containerCadastro ul {
    display: grid;
    list-style-type: none;
    color: white;
}

.containerCadastro li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.textinput {
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(2,0,36);
    text-align: center;
    width: 50%;
}


.textinput::placeholder {
    color: #623CEA;
    opacity: 0.8;
}

.containerCadastro label {
    font-size: 18px;
    font-weight: 900;
}

.containerCadastro button {
    background: rgb(2,0,36);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    transition: .2s;
    border-radius: 10px;
}

.containerCadastro button:hover {
    opacity: 0.8;
    box-shadow: 0 8px 32px 0 #6b088c;
    transform: scale(1.09);
}



