body {
    background-color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
}

section.vazia, section.loginTela {
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
}

section.vazia img {
    max-width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
}

.tela {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.loginTela {
    position: relative;
}

.loginTela .transparencia {
    width: 600px;
    height: auto;
    text-align: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(2,0,36,1) 2%, rgba(191,138,255,1) 35%, rgba(180,130,242,1) 61%, rgba(107,8,128,1) 86%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-bottom-right-radius: 10px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.containerLogin ul {
    display: grid;
    list-style-type: none;
    color: white;
}

.containerLogin li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.containerLogin span {
    color: white;
}

.containerLogin a {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

.containerLogin a:hover{
    color: #ff0000;
}

.textinput {
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(2,0,36);
    text-align: center;
    width: 50%;
}

.textinput::placeholder {
    color: #623CEA;
    opacity: 0.8;
}

.containerLogin label {
    font-size: 18px;
    font-weight: 900;
}

.containerLogin button {
    background: rgb(2,0,36);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    transition: .2s;
    border-radius: 10px;
}

.containerLogin button:hover {
    opacity: 0.8;
    box-shadow: 0 8px 32px 0 #6b088c;
    transform: scale(1.09);
}

.containerLogin span.psw {
    float: right;
    padding-top: 20px;
    font-weight: 900;
}

.containerLogin span.cadastrar {
    float: left;
    padding-top: 20px;
    font-weight: 900;
    margin-left: 110px;
}

.colormude {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #bf8aff3f;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-top-right-radius: 10px;
}
