<footer>
    <div class="container acb">
      <div class="links">
        <h3>Links Úteis</h3>
        <ul>
          <li><a href="{{ url_for('index') }}">Início</a></li>
          <li><a href="#sobre">Sobre nós</a></li>
        </ul>
      </div>
      <div class="contato">
        <h3>Contato</h3>
        <p><strong>Email:</strong> <a href="mailto:educalivrosbiblioteca@gmail.com">joao.00000845222@unicap.br</a>
        </p>
        <!--Protocolo Mailto-->
        <p><strong>Telefone:</strong> (81) 99684-5391</p>
      </div>
      <div class="social">
        <h3>Siga-nos</h3>
        <ul>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
        </ul>
      </div>
    </div>
</footer>