body {
    background-color: #000000;
    height: 100vh;
}

main{
    position: relative;
    min-height: 10
    0vh;
}
.tela {
    max-width: 1280px;
    margin: 0 auto;
}
.backgroundLogin img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -1;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.loginTela {
    padding: 45px 5%;
    position: relative;
    text-align: center;

}


.loginTela .transparencia {
    width: 600px; /* Largura fixa em pixels */
    height: auto; /* Altura ajustável */
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background: #6b088634;
    border: 1px solid #623CEA;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    margin-top: 20px;
}

.imgcontainerLogin {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}


.containerLogin ul {
    display: grid;
    list-style-type: none;
    color: white;
}
.containerLogin li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.containerLogin span{
    color: white;
}
.containerLogin a {
    color: white;
    font-size: 18px; /* Reduzindo o tamanho original do texto */
    font-style: italic;
    font-weight: 900; 
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

.containerLogin a:hover {
    color: #ff0000;
}
.textinput{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #db32548f;
    text-align: center;
    width: 50%;
}
.textinput::placeholder{
    color: #623CEA;
    opacity: 0.8;
}
.containerLogin label{
    font-size: 18px;
    font-weight: 900;
}



.containerLogin button {
    background-color: #623CEA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    transition: .2s;
    border-radius: 10px;
}

.containerLogin button:hover{
    opacity: 0.8;
    box-shadow: 0 8px 32px 0 #6b088c;
    transform: scale(1.09);
}
.containerLogin span.psw {
    float: right;
    padding-top: 20px;
    font-weight: 900;
}

.containerLogin span.cadastrar {
    float: left;
    padding-top: 20px;
    font-weight: 900;
    margin-left: 110px;
}
.colormude {
    display: flex;
    width: 100%; /* Ajuste a largura conforme necessário */
    height: 100px; /* Ajuste a altura conforme necessário */
    background-color: #bf8aff3f;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px; /* Adicione borda arredondada conforme necessário */
}


